In [3]:
from sklearn import datasets
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [77]:
data = datasets.load_iris()
X = data.data

In [78]:
ms = MinMaxScaler()
X = ms.fit_transform(X)

In [79]:
df = pd.DataFrame(X, columns=data.feature_names)
df.drop(columns=['sepal length (cm)', 'sepal width (cm)'], inplace=True)
df['cluster'] = -1
df

     petal length (cm)  petal width (cm)  cluster
0             0.067797          0.041667       -1
1             0.067797          0.041667       -1
2             0.050847          0.041667       -1
3             0.084746          0.041667       -1
4             0.067797          0.041667       -1
..                 ...               ...      ...
145           0.711864          0.916667       -1
146           0.677966          0.750000       -1
147           0.711864          0.791667       -1
148           0.745763          0.916667       -1
149           0.694915          0.708333       -1

[150 rows x 3 columns]

In [80]:
df.isnull().sum()

petal length (cm)    0
petal width (cm)     0
cluster              0
dtype: int64

In [83]:


clusters = bisecting_kmeans(df,3)
new_df = pd.concat(clusters)
# accuracy
from sklearn.metrics import accuracy_score
acc = accuracy_score(new_df['cluster'], data.target)
acc