In [1]:
import pandas as pd

C:\Users\wq\AppData\Local\Temp\ipykernel_2280\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [5]:
data2 = {
  'id': [6,7,8,9],
  'city':['Lisbob', 'Tokyo', 'Mecca', 'Berlin'],
  'rank': ['19th', '22nd', '33rd', '40th'],
  'population': ['1m','9m','0.8m','7m']
}
df2 = pd.DataFrame(data2,
                  index=pd.Index(['A', 'B', 'C','D'], name='letter'),
                  columns=pd.Index(['id', 'city','rank', 'population'], name='attributes'))
df2

attributes  id    city  rank population
letter
A            6  Lisbob  19th         1m
B            7   Tokyo  22nd         9m
C            8   Mecca  33rd       0.8m
D            9  Berlin  40th         7m

In [13]:
df3 = df2.stack()

In [14]:
df3

letter  attributes
A       id                 6
        city          Lisbob
        rank            19th
        population        1m
B       id                 7
        city           Tokyo
        rank            22nd
        population        9m
C       id                 8
        city           Mecca
        rank            33rd
        population      0.8m
D       id                 9
        city          Berlin
        rank            40th
        population        7m
dtype: object

In [18]:
df3.unstack(1)

attributes id    city  rank population
letter
A           6  Lisbob  19th         1m
B           7   Tokyo  22nd         9m
C           8   Mecca  33rd       0.8m
D           9  Berlin  40th         7m