In [2]:
import pandas as pd
import numpy as np

In [6]:
# create a simple dataframe
arr = np.array([['Fateme',22,True], ['Nahid',50,True]])
df = pd.DataFrame(arr)
df

        0   1     2
0  Fateme  22  True
1   Nahid  50  True

In [7]:
df[2]

0    True
1    True
Name: 2, dtype: object

In [9]:
#name of cols
df.columns

RangeIndex(start=0, stop=3, step=1)

In [10]:
# change name of cols
df = pd.DataFrame(arr, columns=['Name', 'Age', 'Married'])
df

     Name Age Married
0  Fateme  22    True
1   Nahid  50    True