In [1]:
import pandas as pd

C:\Users\wq\AppData\Local\Temp\ipykernel_304\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
pp = {'city' : ['Tripoli','Sydney','Tripoli','Rome','Rome', 'Tripoli', 'Rome', 'Sydney', 'Sydney'],
'rank': ['1st','2nd','1st','2nd','1st', '2nd', '1st', '2nd','1st'],
'score1' : [44,48,44,41,38,44,34,54,61],
'score2': [67,63,67,70,64,77,45,66,72],
}

df = pd.DataFrame(pp,
                    index= pd.Index(['A', 'B','C','D', 'E', 'F', 'G','H','I'], name='letters'),
                    columns=pd.Index(['city', 'rank',  'score1', 'score2'], name='attributes'))
df

attributes     city rank  score1  score2
letters
A           Tripoli  1st      44      67
B            Sydney  2nd      48      63
C           Tripoli  1st      44      67
D              Rome  2nd      41      70
E              Rome  1st      38      64
F           Tripoli  2nd      44      77
G              Rome  1st      34      45
H            Sydney  2nd      54      66
I            Sydney  1st      61      72

In [3]:
# get min element
df['score1'].min()

34

In [7]:
df['score1'][df['score1'].idxmin()]

34

In [4]:
# get index of min element
df['score1'].idxmin()

'G'

In [5]:
df.agg('min')

attributes
city      Rome
rank       1st
score1      34
score2      45
dtype: object

In [8]:
df['score1'][df['score1'].idxmax()]

61

In [9]:
df['score1'].max()

61