In [2]:
import pandas as pd
import numpy as np

In [4]:
s1 = pd.Series(np.random.randn(5))
s2 = pd.Series(np.random.randn(5))

df = pd.concat([s1,s2], axis=1)
df.columns = ['col1', 'col2']
df

       col1      col2
0 -1.201213  1.283461
1  0.693626 -0.136526
2 -0.313132 -0.771720
3  0.689535  0.535511
4 -0.542027 -0.042998

In [6]:
df.describe()

           col1      col2
count  5.000000  5.000000
mean  -0.134642  0.173546
std    0.821689  0.774515
min   -1.201213 -0.771720
25%   -0.542027 -0.136526
50%   -0.313132 -0.042998
75%    0.689535  0.535511
max    0.693626  1.283461

In [7]:
df.transpose().describe()

              0         1         2         3         4
count  2.000000  2.000000  2.000000  2.000000  2.000000
mean   0.041124  0.278550 -0.542426  0.612523 -0.292512
std    1.756930  0.587006  0.324271  0.108912  0.352867
min   -1.201213 -0.136526 -0.771720  0.535511 -0.542027
25%   -0.580045  0.071012 -0.657073  0.574017 -0.417270
50%    0.041124  0.278550 -0.542426  0.612523 -0.292512
75%    0.662293  0.486088 -0.427779  0.651029 -0.167755
max    1.283461  0.693626 -0.313132  0.689535 -0.042998

In [9]:
# sum of elements of each col
df.sum()

col1   -0.673212
col2    0.867728
dtype: float64

In [18]:
# sum of elements of each row
df.sum(axis=1)

0    0.082248
1    0.557100
2   -1.084852
3    1.225046
4   -0.585025
dtype: float64

In [19]:
df.cumsum(axis=0)
df.cumsum()

       col1      col2
0 -1.201213  1.283461
1 -0.507587  1.146936
2 -0.820719  0.375215
3 -0.131184  0.910726
4 -0.673212  0.867728

In [20]:
df.min()

col1   -1.201213
col2   -0.771720
dtype: float64

In [21]:
df.min(axis=1)

0   -1.201213
1   -0.136526
2   -0.771720
3    0.535511
4   -0.542027
dtype: float64

In [24]:
# index of row which has min value in each col
df.idxmin()

col1    0
col2    2
dtype: int64

In [25]:
# index of row which has min value in each col
df.idxmin(axis=1)

0    col1
1    col2
2    col2
3    col2
4    col1
dtype: object

In [26]:
 # index of row which has max value in each col
df.idxmax()

col1    1
col2    0
dtype: int64

In [27]:
# index of row which has max value in each col
df.idxmax(axis=1)

0    col2
1    col1
2    col1
3    col1
4    col2
dtype: object