In [1]:
import pandas as pd
import numpy as np

C:\Users\wq\AppData\Local\Temp\ipykernel_1668\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
people = {
  "first" : ["fateme", "elham", "fateme"],
  "last" : ["seifi", "jaafari", "merghati"],
  "s_num" : [23,24,25]
}
df = pd.DataFrame(people)
df

    first      last  s_num
0  fateme     seifi     23
1   elham   jaafari     24
2  fateme  merghati     25

In [14]:
# get row 0
df.iloc[0]
df.loc[0]

first    fateme
last      seifi
s_num        23
Name: 0, dtype: object

In [17]:
df['last']

0       seifi
1     jaafari
2    merghati
Name: last, dtype: object

In [6]:
df.iloc[0][1]

C:\Users\wq\AppData\Local\Temp\ipykernel_1668\2309508539.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[0][1]

'seifi'

In [11]:
df.iloc[0,1]

'seifi'

In [8]:
df.loc[0,'last']

'seifi'

In [9]:
df.at[0, 'last']

'seifi'

In [10]:
df.iat[0,1]

'seifi'

In [19]:
df['last'][0]

'seifi'

In [20]:
df[:]

    first      last  s_num
0  fateme     seifi     23
1   elham   jaafari     24
2  fateme  merghati     25

In [25]:
# rew 0 and 1
df[:2]

    first     last  s_num
0  fateme    seifi     23
1   elham  jaafari     24